/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

/* By changing the colours and the loading bar and having the fade in light mode to dark mode i feel like 
it creates a more aesthetic expeirence for viewrs. Using a same colour palette to enable cohesivness throughout
the website. By having the purple around the light/dark mode it enable them to know they have a choice. Also 
playing with the font size i feel like by making it smalled it makes it look more organised and works well.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 2;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#5252ff;
  --col-04:#b6e878;
  font-size: 10px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
  transition: 2s;
}

nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section{
  margin-bottom: 1rem;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: static;
  top: 2rem;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #5252ff;
  height: 1.3em;
  background-color: mediumslateblue;
  flex-grow: 1; 
  transition: background-color 2s, color 4s;
}

#mode-buttontransition:hover{
  background-color: #5252ff;
  color: darkblue;
  transition: color 1s, color 1s;
}

/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* changing button to look like a link */
#load-link{
  line-height: 1rem;
  background-color: transparent;
  border: 3;
  border-color: #6a6afb;
  border-style: solid;
  cursor: pointer;
  color: #6a6afb;
}
/* throbber while page is fake loading */
#load-throbber{
  /* the width, height and background-color give it a shape on the page without any content inside - 
  these value are arbitrary, please change to create your own design  */
  width: 20%;
  height: 1rem;
  background-image: repeating-linear-gradient(45deg, purple 0% 5%, purple 5% 0%);
  background-size: 200%;
  /* we also initially set display to none so it only shows once the link is clicked */
  display: none;
  animation: loading 20% infinite linear;
}

load-bar{
  background-color: #171219;
}
/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 20px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: smooth;
  }
}
